/**general**/
:root {
  --dark: #1c1c1e;
  --grey: #969090;
  --light: #efefef;
  --light-grey: #d9d9d9;
  --muted: #98a2b3;
  --pink: #f4816d;
  --secondary: #282c34;
  --success: #246345;
  --success-pale: #78a55a;
  --swiper-theme-color: #000;
}
html {
  font-size: 83%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

/*** 1.Colors ****/
/** 1.1 bg-colors***/
.bg-dark {
  background-color: var(--dark) !important;
}
.bg-inherit {
  background-color: inherit;
}
.bg-light {
  background-color: var(--light) !important;
}
.bg-pink {
  background-color: var(--pink) !important;
}
.bg-secondary {
  background-color: var(--secondary) !important;
  color: white;
}

[data-bs-theme=light] .bg-dark{
  background-color: white !important;
}

[data-bs-theme=light] .bg-secondary{
  background-color: var(--light) !important;
  color: var(--dark)
}

[data-bs-theme=light] .text-white{
  color: var(--dark) !important;
}
/** 1.2 Border colors ****/
.border-pink{
  border-color: var(--pink) !important;
}
/** 1.3 text-colors ***/
.text-black {
  color: var(--dark) !important;
}
.text-dark {
  color: #2c2c2e !important;
}
.text-muted {
  color: var(--muted) !important;
}
.text-light {
  color: var(--light) !important;
}
.text-pink {
  color: var(--pink) !important;
}



/** 2. components **/
/** avatar **/
.avatar-circle {
  text-align: center;
  width: 120px;
  height: 120px;
}

.img-height{
  height: 26rem;
}

.initials {
  position: relative;
  top: 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

@media (min-width: 768px){
  .carousel-item{
    height: 470px;
  }
}
@media (max-width: 767px){
  .carousel-item{
    height: 810px;
  }
  .carousel-item .order-md-last img{
    height: 100% !important;
  }
}
@media (min-width: 992px) {
  #main_nav .navbar-nav {
    max-width: 550px;
  }
  #carousel .carousel-item {
    min-height: 30rem !important;
  }
}

.object-cover{
  object-fit: cover;
}
.object-contain{
  object-fit: contain;
}

input:focus{
  border: 1px solid #f4816d !important;
}
#footer a {
  color: #dcdde1;
}
#footer a:hover {
  color: #f4816d;
}
#footer ul.footer-link-list li {
  padding-top: 10px;
}
#footer ul.footer-icons li {
  width: 2.6em;
  height: 2.6em;
  line-height: 2.6em;
}
#footer ul.footer-icons li:hover {
  background-color: #f4816d;
  transition: 0.5s;
}
#footer ul.footer-icons li:hover i {
  color: #212934;
  transition: 0.5s;
}
#footer .border-light {
  border-color: #2d343f !important;
}
/** 2.1 Navlinks **/
/* .nav-link:hover {
  border-bottom: 1px solid #f4816d;
} */


/*** 3. Effects ***/
.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover{
  transform: scale(1.08);
}
/*** 4. Positioning ****/
.fixed-top{
  position: sticky !important;
}
/*** 5. Sizing ***/
.w-80 {
  width: 80%;
}

.mw-50{
  max-width: 50%;
}

.w-85 {
  width: 85%;
}
/*** 6. Typography *****/
@font-face {
  font-family: "steinerregular";
  src: url("./assets/webfonts/steinerlight-webfont.woff2") format("woff2"),
    url("./assets/webfonts/steinerlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.logo {
  font-family: "steinerregular", sans-serif;
  letter-spacing: 0.5rem;
  /* font-weight: 700 !important;
  font-size: 1.225rem !important; */
}
p{
  font-size: 1.2rem !important;
}

.xl-font{
  font-size: 3.8rem !important;
  line-height: 1.5;
}
.xxl-font{
  font-size: 6.3rem !important;
  /* line-height: 1.2; */
  letter-spacing: 18px;
}

@media(max-width: 450px){
  .logo {
    letter-spacing: 0.3rem;
    /* font-weight: 700 !important;
    font-size: 1.225rem !important; */
  }
  .xl-font{
    font-size: 2.8rem !important;
    line-height: 1.3;
  }
  .xxl-font{
    font-size: 5.0rem !important;
    /* line-height: 1.2; */
    letter-spacing: 12px;
  }
}

@media(min-width: 991px){
  .xl-font{
    font-size: 5.0rem !important;
    /* line-height: 1.5; */
  }
  .xxl-font{
    font-size: 10.0rem !important;
    /* line-height: 1.2; */
    letter-spacing: 20px;
  }
}

